body{
    background-color: white;
    margin: 20px;
}

.avatar{
    width: 250px;
}

.card{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    background: #bde0fe;
    border-top: 10px solid #d8cefe;
    border-right: 10px solid #d8cefe;
    border-bottom: 15px solid #d8cefe;
    border-left: 10px solid #d8cefe;
    box-shadow: 16px 10px 10px purple;
    border-radius: 25px;
    color: #2b2839;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
} 

.card:hover {
    background-color: bisque;
}

